<article class="post">
  <div class="">
    <h2 class="">{{title}}</h2>
    <p class="">{{post_text}}</p>
    <img src="https://res.cloudinary.com/degnyzbus/image/upload/w_600,h_300,c_fill,q_100/{{image}}.jpg" alt="" />
    <h3 class="">
      Created by
      {{user.username}}
      on
      {{format_date created_at}}
    </h3>
  </div>
</article>