<article class="post">
  <div class="">
    <h2 class="">{{title}}</h2>
    <p class="">{{post_text}}</p>
    <img src="{{image_url}}" alt="" />
    <h3 class="">
      Created by
      {{user.username}}
      on
      {{format_date created_at}}
    </h3>
  </div>
</article>