<article class="post">
  <div class="title card">
    <h2 class="card-header">{{title}}</h2>
    <p class="card-body">{{post_text}}</p>
    <div class="image">
      <img src="https://res.cloudinary.com/degnyzbus/image/upload/ar_16:9,c_fit,h_300/{{image}}.jpg" alt="" />
    </div>
    <h3 class="list-group">
      Created by
      {{user.username}}
      on
      {{format_date created_at}}
    </h3>
  </div>
</article>