  <ul class="post-list col-auto">
  {{#each posts as |post|}}
    <li class="list-item card col-auto">
      <h2 class="card-header">
        <a href="/post/{{post.id}}" class="post-link">{{title}}</a>
      </h2><br>
      {{#if image}}
      <div class="image">
        <img class="image" src="https://res.cloudinary.com/degnyzbus/image/upload/ar_16:9,c_fit,h_300/{{image}}.jpg" alt="" />
      </div>
      {{/if}}
      <h4 class="card-body-home">
        Created by
        {{user.username}}
        on
        {{format_date created_at}}
      </h4>
      <br />
    </li>
  {{/each}}
</ul>